:root{
    --azul-escuro: #0b63ff;
    --azul-claro: #3ea1ff;
    --cinza-claro: #f6f8fb;
    --cinza-escuro: #6b7280;
    --branco: #ffffff;
    --preto: #111827;
    --cinza: #6e6f72;
    --background: #0D1322;
    --azul-preto:#050A1A;

}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    
}

.sidebar {
    width: 240px;
    height: 100vh;
    background: var(--azul-preto);
    padding: 25px 20px;
    box-shadow: 3px 0 12px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    
}

.brand {
    text-align: center;
    margin-bottom: 35px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 12px;
    background: var(--azul-preto);
    color: var(--branco);
    margin: 0 auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    box-shadow: 0 8px 18px rgba(4, 41, 105, 0.3);
}

.brand h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.lead {
    margin-top: 6px;
    font-size: 13px;
    color: var(--cinza-escuro);
    line-height: 1.3;
}


.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actions a {
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--preto);
    background: var(--cinza);
    border-radius: 10px;
    border: 1px solid rgba(15,23,42,0.1);
    transition: 0.2s ease;
}

.actions a:hover {
    background: var(--cinza-escuro);
    color: var(--branco);
    transform: translateX(5px);
}

main, .content {
    margin-left: 280px;
    margin-right: 280px;
    padding: 20px;
}

h1, h2, h3 {
    color: var(--branco);

}
p, ul, li, tr {
    color: var(--cinza);
}